In [1]:
import pandas as pd
import numpy as np

## 예제 DataFrame 생성

In [2]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [3]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

## 1. Column 과 Column 간 연산 (+, -, *, /, %)

In [4]:
type(df['통계'])

pandas.core.series.Series

In [5]:
df['통계'] + df['미술'] + df['체육']

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [6]:
df['통계'] - df['미술']

0    10
1    15
2     0
3   -15
4   -20
dtype: int64

In [7]:
df['통계'] * df['미술']

0    3000
1    3850
2    6400
3    8500
4    7125
dtype: int64

In [8]:
df['통계'] / df['미술']

0    1.200000
1    1.272727
2    1.000000
3    0.850000
4    0.789474
dtype: float64

In [9]:
df['통계'] % df['미술']

0    10
1    15
2     0
3    85
4    75
dtype: int64

## 2. Column 과 숫자 간 연산 (+, -, *, /, %)

In [10]:
df['통계'] + 10

0    70
1    80
2    90
3    95
4    85
Name: 통계, dtype: int64

In [11]:
df['통계'] - 10

0    50
1    60
2    70
3    75
4    65
Name: 통계, dtype: int64

In [12]:
df['통계'] * 10

0    600
1    700
2    800
3    850
4    750
Name: 통계, dtype: int64

In [13]:
df['통계'] / 10

0    6.0
1    7.0
2    8.0
3    8.5
4    7.5
Name: 통계, dtype: float64

In [14]:
df['통계'] % 10

0    0
1    0
2    0
3    5
4    5
Name: 통계, dtype: int64

## 3. 복합 연산

In [15]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [16]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [17]:
df['통계미술합계'] = df['통계'] + df['미술'] + 10

In [18]:
df

   통계   미술   체육  통계미술합계
0  60   50   70     120
1  70   55   65     135
2  80   80   50     170
3  85  100   95     195
4  75   95  100     180

In [19]:
df['통계'] + df['미술'] - df['체육']

0     40
1     60
2    110
3     90
4     70
dtype: int64

In [20]:
df.mean(axis=1)

0     75.00
1     81.25
2     95.00
3    118.75
4    112.50
dtype: float64

## 4. mean(), sum()을 axis 기준으로 연산

In [21]:
df = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [22]:
df

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [23]:
df.sum(axis=0)
# axis=0 : 행에 대한 전체 합계 / axis=1 : 열에 대한 전체 합계

통계    370
미술    380
체육    380
dtype: int64

In [24]:
df.mean(axis=0)

통계    74.0
미술    76.0
체육    76.0
dtype: float64

In [25]:
df.sum(axis=1)

0    180
1    190
2    210
3    280
4    270
dtype: int64

In [26]:
df.mean(axis=1)

0    60.000000
1    63.333333
2    70.000000
3    93.333333
4    90.000000
dtype: float64

## 5. NaN 값이 존재할 경우 연산

In [27]:
df = pd.DataFrame({'통계': [60, 70, np.nan , 85, 75], '미술': [50, np.nan , 80, 100, 95], '체육': [70, 65, 50, np.nan , 100] })

In [28]:
df

     통계     미술     체육
0  60.0   50.0   70.0
1  70.0    NaN   65.0
2   NaN   80.0   50.0
3  85.0  100.0    NaN
4  75.0   95.0  100.0

In [29]:
df['통계'] / 2

0    30.0
1    35.0
2     NaN
3    42.5
4    37.5
Name: 통계, dtype: float64

In [30]:
1000 / df['통계']

0    16.666667
1    14.285714
2          NaN
3    11.764706
4    13.333333
Name: 통계, dtype: float64

In [31]:
df['통계'] / np.nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

In [32]:
np.nan / df['통계']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 통계, dtype: float64

## 6. DataFrame 과 DataFrame 간 연산

In [33]:
df1 = pd.DataFrame({'통계': [60, 70, 80, 85, 75], '미술': [50, 55, 80, 100, 95], '체육': [70, 65, 50, 95, 100] })

In [34]:
df2 = pd.DataFrame({'통계': ['good', 'bad', 'ok' , 'good', 'ok'], '미술': [50, 60 , 80, 100, 95], '체육': [70, 65, 50, 70 , 100] })

In [35]:
df1

   통계   미술   체육
0  60   50   70
1  70   55   65
2  80   80   50
3  85  100   95
4  75   95  100

In [36]:
df2

     통계   미술   체육
0  good   50   70
1   bad   60   65
2    ok   80   50
3  good  100   70
4    ok   95  100

문자열이 포함된 DataFrame의 경우

In [37]:
df1 + df2

TypeError: ignored

문자열이 포함된 DataFrame의 브로드캐스팅 연산

In [38]:
df1 + 10

   통계   미술   체육
0  70   60   80
1  80   65   75
2  90   90   60
3  95  110  105
4  85  105  110

In [39]:
df2 + 10

TypeError: ignored

column의 순서가 바뀌어 있는 경우

In [40]:
df1 = pd.DataFrame({'미술': [10, 20, 30, 40, 50], '통계':[60, 70, 80, 90, 100] })
df2 = pd.DataFrame({'통계': [10, 20, 30, 40, 50], '미술': [60, 70, 80, 90, 100] })

In [41]:
df1

   미술   통계
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [42]:
df2

   통계   미술
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [43]:
df1 + df2

    미술   통계
0   70   70
1   90   90
2  110  110
3  130  130
4  150  150

행의 갯수가 다른경우

In [44]:
df1 = pd.DataFrame({'미술': [10, 20, 30, 40, 50, 60], '통계':[60, 70, 80, 90, 100, 110] })
df2 = pd.DataFrame({'통계': [10, 20, 30, 40, 50], '미술': [60, 70, 80, 90, 100] })

In [46]:
df1 * df2

       미술      통계
0   600.0   600.0
1  1400.0  1400.0
2  2400.0  2400.0
3  3600.0  3600.0
4  5000.0  5000.0
5     NaN     NaN